$primary_color:#201995;
$button_color: blue; 
$text_color: #f1f1f1;
$hover_color: lightblue;
$body-background_color:#f1f1f1;
$font: Helvetica,Arial,sans-serif;
$button-font:Verdana;




body{
    background: $body-background_color;
    color:$text_color;
    font-family: $font;
}
#head-bar-logo-text {
    color: $button_color;
    margin-left: 6rem;
    text-shadow: 1px 1px 0px $primary_color;
}


.btn{
    background-color: $button_color;
    color: $text_color;
    border-radius: 6px;
    border: 1px solid $primary_color ;
    display: inline-block;
    color: $text_color;
    font-family: $button-font;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 1px 1px 0px $primary_color;
    margin: 0.8em 0 0.5em 0;
    &:hover {
        color: $hover_color;
    }
}

.panel{
    padding: 1rem;
    margin: 1rem;
}

.container{
    background: rgb(32,25,149);
    background: linear-gradient(90deg, rgba(32,25,149,1) 41%, rgba(32,25,112,1) 70%, rgba(32,25,96,1) 98%);
    display: flex;
    width: 90vw;
    margin: auto;
    height: 80vh;
    padding: 2rem;
    border-radius: 6px;
    flex-wrap: wrap;

}

#work-area{
    width: 20rem;
    margin-top: 2rem;
    &_text-box{
        height: 30rem;
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        font-family: $font;
    }
}
/* The sidebar menu */
.sidenav {
    height: 85%; /* Full-height: remove this if you want "auto" height */
    width: 10rem; /* Set the width of the sidebar */
    background: $primary_color; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 35px;
    & a{
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color:  $text_color;
        display: block;
        &:hover {
            color: $hover_color; /* When you mouse over the navigation links, change their color */
          }
      }
  }
  
  
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }