$primaryColor: rgb(3, 35, 121);
$secundaryColor: #00d4ff;
$textColor: white;
$buttonColor: rgba(9, 9, 121, 1);
$backgroundColor: linear-gradient(
  90deg,
  rgba(3, 35, 121, 0.8827906162464986) 0%,
  rgba(0, 212, 255, 1) 22%,
  rgba(9, 9, 121, 1) 100%
);
