* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  color: #3371FF;
  font-size: 1rem;
  background: whitesmoke;
  min-height: 90vh;
}

#app-name {
  font-size: 2rem;
}

#autor {
  display: block;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 2rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

nav ul li {
  list-style-type: none;
  margin: 0;
  padding: 0.5rem;
  font-weight: 600;
}

nav ul li :link {
  text-decoration: none;
}

nav a {
  color: #3371FF;
}

.fas {
  font-size: 4rem;
  color: #3371FF;
}

#input-area {
  margin-top: 1.5rem;
  position: relative;
}

#input-area__form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#input-area__text-box {
  width: 70%;
  height: 60%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1rem;
  margin: 0.5rem;
}

input[type="submit"], button {
  border: none;
  background: #3371FF;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  margin-top: 1rem;
}

input[type="submit"]:hover, button:hover {
  color: #3371FF;
  background: #ffffff;
  border: 2px solid #3371FF;
}

button {
  display: none;
}

#analisis-display {
  position: relative;
  margin: auto;
  margin-top: 2rem;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 35rem;
  width: 70%;
  border: 2px solid grey;
  border-radius: 4px;
  margin-bottom: 3rem;
}

#analisis-display .display-div {
  width: 40%;
  max-height: 80%;
  overflow: auto;
  margin: auto;
  padding: 1rem;
}

#analisis-display #muletillas {
  min-width: 20%;
  max-width: 30%;
}

#analisis-display #muletillas div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#analisis-display #unbalanced-paragrphs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 750px) {
  body {
    margin-left: 10px;
    font-size: 1rem;
  }
  #analisis-display {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    overflow: auto;
  }
  #analisis-display .display-div {
    width: 80%;
    margin-top: 1.5rem;
    min-height: 30%;
  }
  #analisis-display #muletillas {
    max-width: 80%;
  }
  #app-name {
    font-size: 1rem;
  }
  .fas {
    font-size: 2rem;
    color: #4aaaa5;
  }
  #input-area__text-box {
    width: 90%;
  }
  a {
    padding: 0.2rem;
    font-weight: 100;
  }
}
/*# sourceMappingURL=main.css.map */