//$primaryColor:  #4aaaa5;
$primaryColor:#3371FF;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;

}
body{
    color: $primaryColor;
    font-size: 1rem;
    background: whitesmoke;
    min-height: 90vh;
}



#app-name{
    font-size: 2rem;
}
#autor{

    display: block;
}
nav{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    justify-content: space-evenly;
    & ul li{
        list-style-type: none;
        margin: 0;
        padding: 0.5rem;
        font-weight: 600;
      }

    & ul li :link{
        text-decoration: none;
        
    }
    & a{
        color: $primaryColor;
    }
}

.fas{

    font-size: 4rem;
    color: $primaryColor;
}


#input-area{
    margin-top: 1.5rem;
    position: relative;


    &__form{
        align-items: center;
        flex-direction: column;
        display: flex;
    }
        
    &__text-box{
        width: 70%;
        height: 60%;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 1rem;
        margin: 0.5rem;
    }
    
}



input[type="submit"], button {
    border: none;
    background: $primaryColor;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
    margin-top: 1rem;
    &:hover{
        color: $primaryColor;
        background:#ffffff;
        border: 2px solid $primaryColor;
    }
    
  }

  button {

    display: none;
      
  }

  #analisis-display{
      position: relative;
        margin: auto;
        margin-top: 2rem;
      display: none;
      align-items: center;
      justify-self: center;
      justify-content: space-evenly;
      height: 35rem;
      width: 70%;
      border: 2px solid grey;
      border-radius: 4px;
      margin-bottom: 3rem;
      & .display-div{
        width: 40%;
        max-height: 80%;
        overflow: auto;
        margin: auto;
        padding: 1rem;

        
      }



      & #muletillas{
        width: 20%;
       
        & div{
            display: flex;
            justify-content: space-between;
           
        }
      } 

        
      & #unbalanced-paragrphs{
         display: flex;
         flex-direction: column;
      }

  }



  @media screen and (max-width: 500px) {
    body {
      margin-left: 10px;
    }
    #app-name{
        font-size: 1rem;
    }

    .fas{

        font-size: 2rem;
        color:  #4aaaa5;
    }

    a{
        padding: 0.2rem;
        font-weight: 100;
      }

  }